body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2em;
}

.navbar {
    background-color: orange;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.title{
    flex: 1;
    text-align: left;
}
.item {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    /*padding-left: 50%;*/
}

.mainpage {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    height: 100vh;
    gap: 10px; /* Optional: Adds space between columns */
}

.selector {
    background-color: lightblue;
    padding: 10px;
}

.charitylist {
    background-color: beige;
    padding: 10px;
}

#searchBar {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
}

.scrollableList {
    max-height: 80vh;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}
.listSection {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.charityName{
    text-decoration: underline;
    font-weight: bold;
}

.location{
    font-style: italic;
}

.map {
    background-color: lightgreen;
    padding: 10px;
}

/* Rounded corners for the dropdown list */
select {
    width: 150px;
    height: 35px;
    border-radius: 10px;
    /* Adjust the radius to your preference */
    border: 1px solid #ccc;
    padding: 5px;
}

/* Rounded corners for the input field */
input[type="text"] {
    width: 150px;
    height: 35px;
    border-radius: 10px;
    /* Adjust the radius to your preference */
    border: 1px solid #ccc;
    padding: 5px;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    font-size: 1em;
}

button:hover {
    background-color: grey;
    color: white;
}