{% extends 'base.html' %}

{% block title %}Main{% endblock %}

{% block content %}
<h1>Welcome Stranger</h1>

<p> {{ organizations }} </p>
{% endblock %}

{% block navbar %}
<div class="navbar">
    <div class="title">P4N</div>
    <div class="item">People Groups by City</div>
    <div class="item">About Us</div>
    <div class="item">Our Partners</div>
    <div class="item">Contact Us</div>
    <div class="item">Give</div>
</div>
{% endblock %}

{% block mainpage %}
<div class="mainpage">
    <div class="selector">
        <p>Location</p>
        <label for="provinceList"></label>
        <select id="provinceList">
            <option value="">Province</option>
            <option value="BC">British Columbia</option>
            <option value="ON">Ontario</option>
            <option value="AB">Alberta</option>
            <option value="MB">Manitoba</option>
        </select><br><br>

        <input type="text" id="city" placeholder="City"><hr>

        <label for="NationList"></label>
        <select id="NationList">
            <option value="">Nation</option>
            <option value="Indian">Indian</option>
            <option value="Turkish">Turkish</option>
            <option value="Iranian">Iranian</option>
            <option value="Afghan">Afghan</option>
        </select><br><br>

        <input type="text" id="language" placeholder="Language" style="display: none;"><hr>

        Church Service <input type="checkbox" id="service"><label for="service"></label><br><br>

        <button id="searchBtn">Search</button>
    </div>
    <div class="charitylist">
        <form id="searchForm">
            <input type="text" id="searchBar" placeholder="Search Keywords">
        </form>
        <div id="scrollableList" class="scrollableList">

        </div>
    </div>
    <div class="mapSection">
        <iframe
            id="map"
            frameborder="0"
            style="border:0"
            allowfullscreen
            loading="lazy"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43067160.17786125!2d-135.77278557607258!3d48.78931914305853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b0d03d337cc6ad9%3A0x9968b72aa2438fa5!2sCanada!5e0!3m2!1sen!2sus!4v1723962552906!5m2!1sen!2sus">
        </iframe>
    </div>
</div>

{% endblock%}

