{% extends 'base.html' %}

{% block title %}Main{% endblock %}

{% block content %}
<h1>Welcome Stranger</h1>

<p> {{ organizations }} </p>
{% endblock %}

{% block navbar %}
<div class="navbar">
    <div class="title">P4N</div>
    <div class="item">People Groups by City</div>
    <div class="item">About Us</div>
    <div class="item">Our Partners</div>
    <div class="item">Contact Us</div>
    <div class="item">Give</div>
</div>
{% endblock %}

{% block mainpage %}
<div class="mainpage">
    <div class="selector">Selector</div>
    <div class="charitylist">
        <form id="searchForm">
            <input type="text" id="searchBar" placeholder="Search Keywords">
        </form>
        <div id="scrollableList" class="scrollableList">
            {% for charity in charities %}
                <div class="listSection">
                    <div class="charityName">{{ charity['organization_name'] }}</div>
                    <div class="location">
                        {{ charity['address'] }},
                        {{ charity['city_name'] }},
                        {{ charity['province_name'] }}
                    </div>
                    <br>
                    <div>
                        Has church service:
                        {% if charity['province_name'] %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </div>
                    <div>{{ charity['description'] }}</div>
                    <br>
                    <div>Languages: {{ charity['languages'] }}</div>
                    <div>Nations: {{ charity['nations'] }}</div>
                    <br>
                    <div>{{ charity['phone'] }} | {{ charity['website_name'] }} | {{ charity['email'] }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="map">Map</div>
</div>

{% endblock%}

